fastapi==0.115.0
uvicorn[standard]==0.32.0
# Cargar variables de entorno
python-dotenv==1.0.0
# Pydantic (sin fijar versión exacta)
pydantic>=2.11.7,<3.0
email-validator>=2.0.0
# Para recibir formularios de FastAPI
python-multipart==0.0.6
# Base de datos y ORM
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
# Rate limiting para seguridad
slowapi==0.1.9
